<header>Catwiki</header>

<section id="hero" class="flex flex-col m-2 p-3 h-screen">
  <div
    style="background: url('assets/HeroImagesm.png'); background-size: cover"
    class=""
  >
    <div id="text-container" class="w-3/6 my-5 bg-hero text-white ">
      <h1>Catwiki</h1>
      <p>Get to know more about your cat breed</p>
      <input type="text" name="Search" id="" placeholder="Search">
    </div>
  </div>

  <div class="bg-yellow-100">
    <h2>Most searched breed</h2>
    <h1>66+ Breeds for you to discover</h1>
  </div>
</section>
